# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [38]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
x=set()
unique={}
for i in test_list:
    x.add(i[0])
final_list=[]
for i in l:
    final_list.append([i])
    for j in test_list:
        if j[0] == i:
            #print(final_list[-1])
            final_list[-1].append(j[1])

print(list(map(tuple,final_list)))

TypeError: 'int' object is not iterable

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
input_tuple=(1, 5, 7, 8, 10)
l =[]
l.append(input_tuple[0]*input_tuple[1])
for i in range(1,len(input_tuple)-1):
    s=0
    s=input_tuple[i] * input_tuple[i-1] + input_tuple[i] * input_tuple[i+1]
    l.append(s)
l.append(input_tuple[-1]*input_tuple[-2])
print(tuple(l))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here
t1 = (0,1,29,3)
t2 = (0,1,2,3)
list(zip(t1,t2))
flag=True
for i,j in zip(t1,t2):
    if i == j:
        continue
    else:
        flag=False
        break
if flag:
    print("List are Same")
else:
    print("List are not Same")

List are not Same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
num_of_list=0
num_of_sets=0
num_of_tuples=0
x = (0,)
#print(type(x))
for i in list1:
    if type(i) == list:
        num_of_list += 1
    elif type(i) == tuple:   
        num_of_tuples  += 1
    elif type(i) == set:     
        num_of_sets += 1
    else:
        pass
print(f"List-{num_of_list}\nSet-{num_of_sets}\nTuples-{num_of_tuples}")

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
students = []

num = int(input('enter the number of applicants'))

for i in range(num):
  print('Enter details of',i+1,'applicant:')
  name = input('enter name')
  h_ed = input('enter higher education')
  p_skill = input('enter primary skill')
  yog = input('enter year of graduation')

  students.append((name,h_ed,p_skill,yog))

required_skill = input('enter required skill')
required_hed = input('enter required higher education')
required_yog = input('enter required year of graduation')

flag = False
for i in students:
  if i[1] == required_hed and i[2] == required_skill and i[3] == required_yog:
    print(i)
    flag = True

if flag == False:
  print('No such candidates')

Enter details of 1 applicant:
No such candidates

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
set_one= set(ar1)
set_two= set(ar2)
set_three= set(ar3)
print(list(set_one & set_two & set_three))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
unique_set_vowels = set('aeiouAEIOU')
unique_set_vowels
set_of_input_string=set(Str1)
set_of_input_string
print(f"No of unique vowels-{len(set_of_input_string & unique_set_vowels)}")

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
str1 = "01010101010"
str2= "1222211"
str3 = "Campusx"
s1=set(str1)
s2=set(str2)
s3=set(str3)

if len(s1) == 2:
    print("Yes")
else:
    print("No")
if len(s2) == 2:
    print("Yes")
else:
    print("No")
if len(s3) == 2:
    print("Yes")
else:
    print("No")

Yes
Yes
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
matrix = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
s= set()
for i in matrix:
    s.update(i)
print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

l1=list(lst1)
l2=list(lst2)
#print(l1)
#print(l2)
final_list=[i for i in l1 if i in l2]
print(final_list)
lst3 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst4 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
l3=list(lst3)
l4=list(lst4)
#print(l3)
#print(l4)
final_list=[i for i in l3 if i in l4]
print(final_list)

[4, 5, 9, 10]
[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [14]:
# write your code here
#test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
l=-1
key=''
for i in test_dict:
    s1=len(set(test_dict[i]))
    #print(s1)
    #print(i,"-->",test_dict[i])
    #print(len(test_dict[i]))
    if l < s1:
        l=s1
        key=i
print(key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [18]:
# write your code here

#test_str = 'CampusX best for DS students.'
#repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
res=[]
for word in test_str.split():
    if word in repl_dict:
        res.append(repl_dict[word])
    else:
        res.append(word)
    #print(word)
print(" ".join(res))

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [27]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
length_of_input_list = len(test_list)
final_list=[]
print (length_of_input_list)
for i in range(0,length_of_input_list,2):
     final_list.append({key_list[0]: test_list[i],key_list[1]:test_list[i+1]})
print(final_list)

4
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [32]:
# write your code here
l1=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
l2=[('A', 1), ('B', 2), ('C', 3)]
d={}
for i,j in l1:
    d[i]=[j]
    print(i,j)
print(d)
d={}
for i,j in l2:
    d[i]=[j]
    print(i,j)
print(d)

akash 10
gaurav 12
anand 14
suraj 20
akhil 25
ashish 30
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
A 1
B 2
C 3
{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [38]:
# write your code here
#input={'c': [3], 'b': [12, 10], 'a': [19, 4]}
input={'c': [10, 34, 3]}
final_dict={}
for i in sorted(input):
    final_dict[i] =sorted(input[i])
print(final_dict)

{'c': [3, 10, 34]}