### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [9]:
l = [1,2,3,3,3,3,4,5]
def unique_list(l):
    x = set(l)
    return x
print(list(unique_list(l)))

#Below is the code without using set
l1 = [1,2,3,3,3,3,4,5]
def unique_list_without_set(l1):
    final_list= []
    for i in l1:
        if i not in final_list:
            #print(final_list)
            final_list.append(i)
    return final_list
x=unique_list_without_set(l1)
print(x)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [16]:
# Write code here
input="green-red-yellow-black-white"
def hyphen_separated(input):
    l=[]
    l=input.split('-')
    l=sorted(l)
    final_string = "-".join(l)
    return final_string
x = hyphen_separated(input)
print(x)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [25]:
# Write code here
input='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def count_of_upper_lower(input):
    nu=0
    nl=0
    for char in input:
        
        if char.isupper() and char.isalpha():
            nu += 1
        elif char.islower() and char.isalpha():
            nl += 1
        else:
            pass
    return nu,nl
nu,nl = count_of_upper_lower(input)
print(f"No. of Upper case characters :{nu} \nNo. of Lower case Characters :{nl}")
#count_of_upper_lower(input)

No. of Upper case characters :9
No. of Lower case Characters :47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [28]:
# Write code here
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]
def even_list(l):
   return [i for i in l if i %2 ==0]
print(even_list(l))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [34]:
# Write code here
input_number=496
def check_perfect_number(input_number):
    sum = 0
    flag = False
    for i in range(1,input_number):
        if input_number % i == 0:
            sum += i
    if sum == input_number:
        flag = True
    return flag

if check_perfect_number(input_number):
    print(f"{input_number} is a perfect number")
else:
    print(f"{input_number} is a not perfect number")

496 is a perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [39]:
# Write code here
#update function is to add to dictionary
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
def concat_dict(*kwargs):
    temp_dict={}
    for i in kwargs:
        #print(i)
        temp_dict.update(i)
    return temp_dict
final_dict={}
final_dict=concat_dict(dic1,dic2,dic3)
print(final_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [48]:
# Write code here
input_string="hello how are you i am fine thank you"
def most_frequency_word(input_string):
    temp_dict={}
    for i in input_string.split():
        if i not in temp_dict:
            temp_dict[i]=1
        else:   
            temp_dict[i] += 1
    max_value = max(temp_dict.values())
    max_key = max(temp_dict.keys())
    print(max_key,'->',max_value)

most_frequency_word(input_string)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [62]:
# Write code here
from math import floor,ceil 
input_list=[13,42,15,37,22,39,41,50]
def create_historgram_list(input_list):
    minimum = floor(min(input_list)/10) * 10
    maximum= ceil(max(input_list)/10) * 10
    print(minimum,maximum)
    temp_dict={}
    for i in range(minimum,maximum,10):
        count = 0
        for j in input_list:
            if i+1<=j<=i+10:
                count+=1
        temp_dict[str(i+1) + '-' + str(i+10)] = count

    return temp_dict

print(create_historgram_list(input_list))

10 50
{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [77]:
# Write code here
def shortest_dist(points,query):
  temp = []
  for i in points:
    distance = ((i[0] - query[0])**2 + (i[1] - query[1])**2)**0.5
    temp.append(distance)
  #print(sorted(list(enumerate(temp)),key=lambda x:x[1])[0][0])


  return points[sorted(list(enumerate(temp)),key=lambda x:x[1])[0][0]]


points = [(1,4),(2,-2),(13,3),(14,4)]
query = (0,0)

shortest_dist(points,query)

1

In [88]:
#This is solved using dictionary
#points = [(1,4),(2,-2),(13,3),(14,4)]
points=[(1,1),(2,2),(3,3),(4,4)]
query = (0,0)
def shortest_distance(points,query):
    d={}
    for i in points:
        distance=0
        distance = ((i[0] - query[0])**2 + (i[1] - query[1])**2)**0.5
        d[i]=distance
    #max_key = max(d.keys())
    #max_value = max(d.values())
    min_key = min(d.keys())
    #min_value = min(d.values())
    return min_key
    
        
print(f"Nearest to {query} is {shortest_distance(points,query)}")

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [89]:
# Write code here

def bow(L):

  vocab = set()

  for i in L:
    vocab.update(i.split())

  result = []

  for i in L:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))

  print(vocab)
  return result


L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]

bow(L)

{'bat', 'rat', 'cat', 'pat', 'fat', 'mat', 'sat'}

[[0, 1, 2, 0, 0, 1, 0], [1, 1, 1, 0, 1, 0, 1], [0, 1, 1, 1, 0, 1, 0]]

In [104]:
L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]

def bag_of_words(L):
    vocabulary=set()
    for i in L: 
        vocabulary.update(i.split())
    res=[]
    for i in L:
        res.append([])
        for j in vocabulary:
            res[-1].append(i.count(j))
    print(vocabulary)
    return res

bag_of_words(L)

{'bat', 'rat', 'cat', 'pat', 'fat', 'mat', 'sat'}

[[0, 1, 2, 0, 0, 1, 0], [1, 1, 1, 0, 1, 0, 1], [0, 1, 1, 1, 0, 1, 0]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [105]:
# Write code here
# Write code here
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

# [12,15,18]

list(map(lambda x,y,z:x+y+z,L1,L2,L3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [106]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [107]:
# Write code here
# Write code here
str1="FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x:True if x.lower() in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [141]:
str1="FIFA world cup in 2022 will take place in Qatar"
list(filter(lambda x : True if x.upper() in 'AEIOU' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [108]:
# Write code here
# Write code here
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]

import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [112]:

employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']